.image{
    max-width: 400px;
    
}
*{
    color:white
}
.item_card{
    border: dotted black;
    max-width:400px;
    margin: 30px;
    background-color: black;
}
.item_sub_card{
   
}
.invisible{
    visibility: hidden;
}